[user]
	name = Jesse Kearl
	email = jessekearl@gmail.com
[core]
	excludesfile = ~/.config/git/ignore
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RF
[merge]
	tool = nvimdiff
[log]
	decorate = short
[push]
	autoSetupRemote = true
[alias]
	ac = "!git add -A && git commit"
	amend = "!git add -A && git commit --amend --no-edit"
	nuke = "checkout -- ."
	force-amend = "!git add -A && git commit --amend --no-edit && git push --force"
	wip = "!f() { git add -A && git commit -m \"wip: $1\"; }; f"
	nogrep-sha = "!f() { git log --grep=\"$1\" --invert-grep -n 1 --format=%h; }; f"
	reset-wip = "!git reset $(git nogrep-sha \"^wip\")"
	diff-wip = "!git diff $(git nogrep-sha \"^wip\")"
	reset-aider = "!git reset $(git nogrep-sha \"^aider\")"
	diff-aider = "!git diff $(git nogrep-sha \"^aider\")"
	ghclone ="!f() { git clone https://github.com/\"$1\".git; }; f"
[interactive]
	diffFilter = diff-so-fancy --patch
[pull]
	ff = only
