# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jesse
	email = jessekearl@gmail.com
[pull]
	ff = only
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RF
[merge]
	tool = nvimdiff
[alias]
	ac = "!git add -A && git commit"
	amend = "!git add -A && git commit --amend --no-edit"
	wip = "!f() { git add -A && git commit -m \"wip: $1\"; }; f"
	nogrep-sha = "!f() { git log --grep=\"$1\" --invert-grep -n 1 --format=%h; }; f"
	reset-wip = "!git reset $(git nogrep-sha \"^wip\")"
	diff-wip = "!git diff $(git nogrep-sha \"^wip\")"
	reset-aider = "!git reset $(git nogrep-sha \"^aider\")"
	diff-aider = "!git diff $(git nogrep-sha \"^aider\")"
[interactive]
	diffFilter = diff-so-fancy --patch
